<%= render 'shared/error' %>
<%= form_with(model: @user, local: true) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :twitter   %>
    <%= f.text_field :twitter %>
  </p>

  <p>
    <%= f.label :facebook %>
    <%= f.text_field :facebook %>
  </p>

  <p>
    <%= f.label :instagram %>
    <%= f.text_field :instagram %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Return to list of users', users_path, method: :get %>  
