<%= render 'shared/error', obj: @user %>
<%= simple_form_for @user do |f| %>
  <div class="form-inputs m-4">

    <div class="m-2">
      <%= f.input :username, :label => "Username", placeholder: "Enter an username" %> 
    </div>
    <div class="m-2">
      <%= f.input :email, :as => :string, placeholder: "Enter your email"  %>
    </div>

    <div class="m-2">
      <%= f.input :password , placeholder: "Choose a password", class: "m-4" %>
    </div>

  </div>
  <hr>
  <table class="table">
    <thead>
    <tr>
      <td></td>
      <td><h3>Social Media</h3></td>
      <td><h3>Link</h3></td>
    </tr>
    </thead>
    <tbody class="socials">
      <%= f.simple_fields_for :socials do |b| %>
        <%= render 'social_fields', f: b %>
      <%end%>
    </tbody>
  </table>


    <div class="form-actions">
      <%= f.submit(@user.new_record? ? "Sign Up": "Update account" , class: 'btn btn-success') %>
      <%= link_to_add_association "Add social Media", f, :socials, class: "btn btn-primary text-light", data: {
        association_insertion_node: '.socials', association_insertion_method: :append } %>
    </div>
<% end%>
<%= link_to 'Return to list of users', users_path, method: :get , class: 'btn btn-ligth'  %>
