<%= render 'shared/error' %>
<%= simple_form_for @user do |f| %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.simple_fields_for :socials do |b| %>
    <div id=”fieldsetContainer”>
      <fieldset id="0">
        <%= b.input :name %>
        <%= b.input :link %>
      <% end%>
      </fieldset>
    </div>
  <%= f.button :submit %>
<% end%>
<%= link_to 'Return to list of users', users_path, method: :get %>
