<%= render 'shared/error' %>
<%= simple_form_for @user do |f| %>
  <%= f.text_field :username %>
  <%= f.text_field :email %>
  <%= f.simple_fields_for :socials do |b| %>
    <div id="fieldsetContainer">
      <fieldset id="0">
        <%= b.input :name %>
        <%= b.input :link %>
      <% end%>
      </fieldset>
    </div>
    <div>
      <button type="button" id="addBook">Add more books</button>
    </div>
    <div>
      <%= f.submit "New User" %>
    </div>
<% end%>
<%= link_to 'Return to list of users', users_path, method: :get %>
